h1{
  text-align:center;
  margin-top: 30px;
}
.※::after{
  color: red;
  content: "※";
  
}
.p-postal-code{margin-left: 18px;}

form{
  border-radius: 6px;
}
form tr{
  /* display: flex; */
  width: 100%;
}
  form .lavel_th{
    padding: 0px 15px 15px 65px;
    min-width: 28%;
    white-space: nowrap;
    text-align: left;
    font-size: 20px;
    vertical-align: top;
    /* border-bottom: 1px solid #fff; */
    /* font-weight: normal; */
  }
    form tr td {
      width: 165px;
      padding-bottom: 16px;
      width: 50%;
      float: left;
      clear: both;
    }
.under_name {
  padding-right: 25px;
}
.error{
  /* padding-left: 30px; */
  margin-top: 12px;
  white-space: nowrap
}
.form-inner{
  padding: 0 auto 0; 
  width: 100%;
}


form .lavel_opinion {
  padding: 0 15px 15px 65px;
  width: 21%;
  vertical-align: top;
  text-align: left;
  font-size: 20px;
  /* border-bottom: 1px solid #fff; */
  /* font-weight: normal; */
  white-space: nowrap
}

form input{
  /* margin: 15px 0; */
  height: 24px;
}
.under_form{
  color: #b9b9bc;
  /* margin: 0 10px */
  white-space: nowrap
}

p{margin-top: 16px;}
.opinion{margin-top: 16px;}
form #postcode{margin-left: 10px;}

/* .male{margin:16px;} */
.female{margin:0 16px;}
.name{
  /* margin: 0 25px; */
}
.huge {
  width: 50vw;
}
.size-input-email{
  width: 200px;
  size:20px 
}
.namehuge{
  width: 25vw;
}
button{  
border-radius: 4px;
background: #000;
color: #ffffff;
width: 135px;
height: 32px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}
