h1{
  text-align:center;
  margin-top: 30px;
}
.※::after{
  color: red;
  content: "※";
  
}
ul{
  padding-left: 0
}
li{
  margin: 12px 50px 32px;
  list-style: none
}
.fullname{
  display: flex;

}
form{
  background-color: #ffffff;
  border-radius: 6px;
}
.under_name {
  padding-right: 25px;
}
.error{padding-left: 30px;
  margin-top: 12px;
}
.form-inner{
  padding: 0 auto 0; 
  width: 100%;
}

form table{
  width: 100%;
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell {
	display:table-cell;
  border: 1px solid;
  }
form .lavel_th{
  padding: 15px 15px 15px 65px;
  width: 21%;
  /* vertical-align: top; */
  text-align: left;
  font-size: 20px;
  /* border-bottom: 1px solid #fff; */
  /* font-weight: normal; */
  white-space: nowrap
}
form .lavel_opinion {
  padding: 0 15px 15px 65px;
  width: 21%;
  vertical-align: top;
  text-align: left;
  font-size: 20px;
  /* border-bottom: 1px solid #fff; */
  /* font-weight: normal; */
  white-space: nowrap
}

form input{
  /* margin: 15px 0; */
  height: 24px;
}
.under_form{
  color: #b9b9bc;
  /* margin: 0 10px */
}

p{margin-top: 16px;}
.opinion{margin-top: 16px;}
form #postcode{margin-left: 10px;}

/* .male{margin:16px;} */
.female{margin:16px;}
.name{
  margin: 0 25px;
}
.huge {
  width: 50vw;
}
.size-input-email{
  width: 200px;
  size:20px 
}
.namehuge{
  width: 25vw;
}
button{  
border-radius: 4px;
background: #000;
color: #ffffff;
width: 135px;
height: 32px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}
