h1{
  text-align:center;
  margin-top: 30px;
}
.※::after{
  color: red;
  content: "※";
  
}
ul{
  padding-left: 0
}
li{
  margin: 12px 0 32px;
  list-style: none
}
form{
  background-color: #ffffff;
  border-radius: 6px;
}
.form-inner{
  padding: 0 auto 0; 
  width: 100%;
}

form table{
  width: 100%;
}
form th{
  padding: 15px;
  margin: 15px;
    border-bottom: 1px solid #fff;
    font-weight: normal;
    vertical-align: top;
    width: 5em;
}

form input{
  margin: 12px 0 32px;
}
.namehuge{
  width: 25vw;
}
.name{
  margin: 0 25px;
}
.huge {
  width: 50vw;
}

button{  
border-radius: 4px;
background: #000;
color: #ffffff;
width: 135px;
height: 32px;
display: block;
margin-left: auto;
margin-right: auto;
}
q{
  padding-right: 4em;
}
.postcode{
  position: relative;
}
q::before{
  content: "〒";
  position: absolute;
  
}

#postcode{
  margin-left: 30px;
}